<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">New Site</h1>
    <button class="button button-clear button-primary" ng-click="sitemodal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input ng-model="newSite.username" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="newSite.password" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </label>
      <label class="item item-input">
        <span class="input-label">Site URL</span>
        <input ng-model="newSite.url" type="url" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </label>
      <button class="button button-full button-dark" ng-click="createSite(newSite)">Create</button>
    </div>
  </ion-content>
</ion-modal-view>