<ion-view view-title="Notifications">
  <ion-content>

  <ul class="list">

  		<li class="item item-toggle">
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	     All Notifications
	  </li>

	  <div class="item-divider"></div>

      <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked="checked">
	     </label>
	     Comments
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Registrations
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Other
	  </li>

	</ul>
    
  </ion-content>
</ion-view>
