<ion-view>
	<ion-nav-title>
	{{site.title}}
	</ion-nav-title>
  <ion-content>
  <div ng-bind-html="content"></div>
  	<ion-list>
		<ion-item class="item-icon-left item-icon-right" ng-repeat="section in sitesections" href="#/app/sites/{{id}}/{{slug}}" ng-click="apiRoute('{{section.route}}')">
			<i class="icon {{section.icon}} site-icon"></i>
			<h3>{{section.title.rendered}}</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>
	<div class="item-divider"></div>
		<ion-item class="item-icon-left item-icon-right" href="#/app/settings/{{id}}" ng-click"$state.go('app.sitesettings')">
			<i class="icon ion-gear-a site-icon"></i>
			<h3>Settings</h3>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
  </ion-content>
</ion-view>
