<ion-view title="Tabs">

	<ion-tabs class="tabs-icon-top tabs-calm">
	    <ion-tab title="Sites" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/app/sites">
	        <ion-nav-view name="sites-view"></ion-nav-view>
	    </ion-tab>

	    <ion-tab title="Stats" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" href="#/app/stats">
	        <ion-nav-view name="stats-view"></ion-nav-view>
	    </ion-tab>

	    <ion-tab title="Notifications" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" href="#/app/notifications">
	        <ion-nav-view name="notifications-view"></ion-nav-view>
	    </ion-tab>

	</ion-tabs>

</ion-view>